*{
   margin:0%;
    padding:0%;
    box-sizing:border box;
}

html,body{
   height:100%;
    width:100%;
}

header{
    height: 25vh;
    display: flex;
    background-color: rgb(204, 139, 139);
}

.logo img{
    margin: 10px;
    height: 100px;
    width: 100px;
}

.logo p{
    margin: 5px;
}

nav{
   max-width: 500px;
   margin: 35px auto;
}

ul{
    display: flex;
}

ul li{
    list-style-type: none;
    margin: 0px 0px 0px 70px;
}

main{
    height: 75vh;
}

.container1{
    height: 35%;
    display: flex;
}

.windows img{
    margin: 20px;
    height: 100px;
    width: 100px;
}

.note{
    padding: 30px;
}

.note button{
    margin: 12px 0px 0px 0px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(154, 225, 247);
}

.container2{
    height: 65%;
    display: flex;
}

.part1{
    width: 60%;
    padding: 20px 0px 0px 30px;
}

.ul{
    display: inline;
}

.ul li{
    margin: 0px;
    list-style-type: circle;
    padding: 0px 0px 0px 10px;
}

.part2{
    padding: 20px 0px 0px 20px;
}

.box{
    display: flex;
}

.img1 img{
    height: 80px;
    width: 90px;
}

.text{
    padding: 0px 0px 0px 60px;
}

.text p{
    padding: 20px 0px 0px 0px;
}

@media screen and (max-width:480px) {
    header{
        height: 150px;
        width: 900px;
    }

    main{
        width: 900px;
    }

    .windows{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container1{
        display: inline;
    }

    .container1 button{
        margin-left: 370px;
    }

    .container2{
        display: inline;
    }

    .part1{
        padding: 0px 0px 0px 100px;
    }

    .box{
        display: inline;
    }
    .part2{
        margin: 0px 0px 0px 150px;
    }
    .text{
        padding: 0px 0px 0px 0px;
    }
}
